[submodule "code-snippets/assembly"]
	path = code-snippets/assembly
	url = https://github.com/liviaerxin/hello-assembly.git

[submodule "code-snippets/c"]
	path = code-snippets/c
	url = https://github.com/liviaerxin/hello-c.git

[submodule "code-snippets/dockerfiles"]
	path = code-snippets/dockerfiles
	url = https://github.com/liviaerxin/hello-dockerfiles.git

[submodule "code-snippets/docker-compose"]
	path = code-snippets/docker-compose
	url = https://github.com/liviaerxin/hello-docker-compose.git

[submodule "code-snippets/python"]
	path = code-snippets/python
	url = https://github.com/liviaerxin/hello-python.git
