/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Use the default color from [infima](https://infima.dev/docs/utilities/colors) */
  --ifm-color-primary: #0969da;
  --ifm-color-primary-dark: #0859b9;
  --ifm-color-primary-darker: #064999;
  --ifm-color-primary-darkest: #053f83;
  --ifm-color-primary-light: #1b7ff6;
  --ifm-color-primary-lighter: #4698f7;
  --ifm-color-primary-lightest: #72b0f9;
  
  --ifm-line-height-base: 1.4;
  --ifm-code-font-size: 80%;
}

html[data-theme='dark'] {
  --ifm-background-color: #202225;
  --ifm-footer-background-color: var(--ifm-background-color);

  --ifm-color-primary: #2f81f7;
  --ifm-color-primary-dark: #0962e2;
  --ifm-color-primary-darker: #074aaa;
  --ifm-color-primary-darkest: #043171;
  --ifm-color-primary-light: #4b92f8;
  --ifm-color-primary-lighter: #599bf9;
  --ifm-color-primary-lightest: #84b4fa;

  --ifm-border-color: #ffffff;
}

/* Body and General Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  // color: var(--text-color);
  // background-color: var(--background-color);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  // color: var(--text-color);
}

/* Links */
a {
  // color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Blockquotes */
blockquote {
  border-left: 4px solid;
  padding-left: 15px;
  margin: 0;
}

/* Code Blocks */
pre {
  // background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}
code {
  font-family: Consolas, monospace;
  // color: #333;
}


[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.svg-inline--fa.fa-w-16 {
  width: 3em;
}

.svg-inline--fa.fa-w-14 {
  width: 2.7em;
}

.footer__links {
  margin: 0;
}

.footer__item {
  display: inline-block;
  margin: 0 1em;
}

.footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__col {
  margin-bottom: 0;
}

.navbar__logo img { 
  border-radius: 50%;
  overflow: hidden;
}


[class^="sidebarItemList"] {
  font-size: 13px !important;
}