.skill_card {
  width: 100%;
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}

.skill_card__image {
  margin-bottom: 10px;
}

.skill_card_content {
  justify-content: center;
}

.skill_card__title {
  font-family: 'Roboto Slab', serif;
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
  -webkit-font-smoothing: antialiased;
  margin: 0 0 0.3rem 0;
}

.skill_card__description > p {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: var(--ifm-h4-font-size);
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  max-width: 100%;
}

@media (max-width: 640px) {
  .skill_card__title {
    font-size: 1.2rem;
  }
}
